body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html,
body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    background-color: black;
    height: 40px;
    line-height: 40px;
}

.below-nav-bar {
    flex: 1;
}

.nav-bar-logo {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    transition: opacity 0.2s;
    margin-left: 10px;
}

.nav-bar-link {
    color: white;
    text-decoration: none;
    transition: opacity 0.2s;
}

.nav-bar-link:hover {
    opacity: 0.7;
}

.nav-bar-link-active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.github-icon {
    width: 35px;
    transition: opacity 0.2s;
    margin: 2.5px;
    float: right;
}

.github-icon:hover {
    opacity: 0.7;
}